server:
  port: 8080

tmdb:
  api-key: d1fb72b17c2d0b9c33bded6239232410

spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/cinema-note-dbb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console



logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: iugILs1RnXBzm7UcPeMFzhwFuEoIHAn/yEheLYVl3PA=
