server:
  port: 8080

tmdb:
  api-key: d1fb72b17c2d0b9c33bded6239232410

spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/cinema-note-dbb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 946896681252-10eu9fihrina8hvh8nhvvtnv36io02ut.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - profile
              - email
            client-name: Google

          naver:
            client-id: l6OLuSNX5j0EnwcHkLBx
            client-secret: bJDZuIJPP6
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
            client-name: Naver

          kakao:
            client-id: 8f89fafd1db834b8f0bc22e006abe500
            client-secret: ""
            redirect-uri: "	http://localhost:8080/login/oauth2/code/kakao"
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - profile_image
              - friends
              - talk_message
              - talk_calendar
              - talk_calendar_task
            client-name: Kakao

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth?prompt=consent
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize?prompt=login
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: iugILs1RnXBzm7UcPeMFzhwFuEoIHAn/yEheLYVl3PA=
